﻿@page "/rpg/leaderboard"
@using ChipBot.Web.Shared.Core
@using RPGPlugin.Core.Classes
@using RPGPlugin.Core.Static.Specs
@using RPGPlugin.Core.Static.Races
@using ChipBot.Web.Client.Shared.Ionoteka
@using ChipBot.Web.Client.Shared.Rpg
@using ChipBot.Web.Client.Shared.Rpg.Hero
@using ChipBot.Web.Shared.Api
@inject HttpClient Http

@if (heroes == null)
{
    <Loader></Loader>
}
else
{
    <div class="d-flex flex-fill flex-row">
        <div class="d-flex flex-fill flex-row flex-wrap m-3">
            @foreach (var hero in heroes)
            {
                <div class="d-flex flex-row align-items-center holder">
                    <HeroCardSmall Hero=hero />
                </div>
            }
        </div>
    </div>
}

@code {
    private List<Hero> heroes;

    protected override async Task OnInitializedAsync()
    {
        heroes = await Http.GetFromJsonAsync<List<Hero>>($"api/rpg/heroes");
    }
}
