﻿<div class="bg-light text-dark p-1 rounded">
    <h5 class="border-bottom @Item.ToRarityClassName()">@Item.GetItemName()</h5>
    @if (Item.Ability != null)
    {
    <div>@Item.AbilityDescription</div>
    }
    <div>
        <StatsCard Stats="Item.Stats"/>
    </div>
    <div>
        <SecondaryStatsCard Stats="Item.SecondaryStats"/>
    </div>
</div>

@code {
    [Parameter]
    public Item Item { get; set; }
}
