﻿<HoverTooltip>
    <Tip>
        <ItemCard Item="Item" />
    </Tip>
    <Trigger>
        <span class="@Item.ToRarityClassName()">
            @Item.GetItemName()
        </span>
    </Trigger>
</HoverTooltip>

@code {
    [Parameter]
    public Item Item { get; set; }
}
