﻿<div class="bg-light text-dark p-1 rounded">
    <h5 class="border-bottom">@Race.ToString() @Race.Icon</h5>
    <div>@Race.Description</div>
    <div>@Race.ShortDescription</div>
    <div>
        <StatsCard Stats="Race.StatsBonuses"/>
    </div>
</div>

@code {
    [Parameter]
    public RaceDescription Race { get; set; }
}
