﻿<HoverTooltip Inline="Inline">
    <Tip>
        <RaceCard Race="Race" />
    </Tip>
    <Trigger>
        @Race.ToString()
    </Trigger>
</HoverTooltip>

@code {
    [Parameter]
    public RaceDescription Race { get; set; }

    [Parameter]
    public bool Inline { get; set; } = false;
}
