﻿<div class="text-monospace">
    <div>
        <span>
            @{RenderStat("Atk", (Stats.Attack ?? new ElementInfo()).HumanizeShort());}
        </span>
    </div>
    <div>
        <span class="mr-3">
            @{RenderStat("Def", (Stats.Defense ?? new ElementInfo()).HumanizeShort());}
        </span>
    </div>
    <div>
        <span class="mr-3">
            @{RenderStat("CrC", $"{Stats.CritChance:P0}");}
        </span><span>
            @{RenderStat("CrD", $"{Stats.CritDamage:P0}");}
        </span>
    </div>
    <div>
        <span class="mr-3">
            @{RenderStat("Dge", $"{Stats.DodgeChance:P0}");}
        </span><span>
            @{RenderStat("Blk", $"{Stats.BlockChance:P0}");}
        </span>
    </div>
    <div>
        <span class="mr-3">
            @{RenderStat("Acc", $"{Stats.Accuracy:P0}");}
        </span><span>
            @{RenderStat("Agr", $"{Stats.Aggro:+0;-#}");}
        </span>
    </div>
</div>

@{
    void RenderStat(string name, string value)
    {
        <span>@name: </span>
        <span>@value</span>
    }
}

@code {
    [Parameter]
    public ItemStats Stats { get; set; }
}
