﻿<HoverTooltip Inline="Inline">
    <Tip>
        <SpecCard Spec="Spec" />
    </Tip>
    <Trigger>
        @Spec.ToString()
    </Trigger>
</HoverTooltip>

@code {
    [Parameter]
    public SpecDescription Spec { get; set; }

    [Parameter]
    public bool Inline { get; set; } = false;
}
