﻿<div class="bg-light text-dark p-1 rounded">
    <h5 class="border-bottom">@Spec @Spec.Icon</h5>
    <div>@Spec.Description</div>
    <div>@Spec.ShortDescription</div>
    <div><span>Level Needed: </span><span class="text-primary">@Spec.LevelNeeded</span></div>
    @if (!Spec.BaseClass)
    {
        <div><span>Advanced Of: </span><span class="text-primary">@Spec.AdvancedOf</span></div>
    }
    <div>
        <StatsCard Stats="Spec.StatsBonuses"/>
    </div>
</div>

@code {
    [Parameter]
    public SpecDescription Spec { get; set; }
}
