﻿<div class="text-monospace">
    <div>
        <span class="mr-3">
            @{RenderStat("STR", Stats.Strength);}
        </span><span>
            @{RenderStat("VIT", Stats.Vitality);}
        </span>
    </div>
    <div>
        <span class="mr-3">
            @{RenderStat("DEX", Stats.Dexterity);}
        </span><span>
            @{RenderStat("TEC", Stats.Technique);}
        </span>
    </div>
    <div>
        <span class="mr-3">
            @{RenderStat("INT", Stats.Intellegence);}
        </span><span>
            @{RenderStat("LUK", Stats.Luck);}
        </span>
    </div>
</div>

@{
    void RenderStat(string name, int value)
    {
        <span>@name: </span>
        if (value > 0)
        {
            <span class="positive">@value</span>
        }
        else if (value == 0)
        {
            <span>@value</span>
        }
        else
        {
            <span class="negative">@value</span>
        }

    }
}

@code {
    [Parameter]
    public Stats Stats { get; set; }
}
