﻿@page "/config/{id}"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Owner")]
@inject HttpClient Http
@inject IJSRuntime JS
@inject NavigationManager NavigationManager

<h3>@Id</h3>

@if (config == null)
{
    <Loader />
}
else
{
    <div @ref="cfgEdit" style="height: 80vh;"></div>
    <Button Color="Color.Primary" Margin="Margin.Is3.FromTop" @onclick=OnSaveClick><Icon Name="@faIcon.Save" /> Save</Button>
    <Button Color="Color.Secondary" Margin="Margin.Is3.FromTop" @onclick=OnRemoveClick><Icon Name="@faIcon.TrashAlt" /> Remove</Button>
}

@code {
    [Parameter]
    public string Id { get; set; }

    private string config;
    private ElementReference cfgEdit;
    private IJSObjectReference monacoEditor;

    private bool editorInit = false;

    protected override async Task OnInitializedAsync()
    {
        config = await Http.GetStringAsync($"api/config/{Id}");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!editorInit && config != null)
        {
            editorInit = true;
            monacoEditor = await JS.InvokeAsync<IJSObjectReference>("window.chipApp.initMonaco", cfgEdit, await JS.InvokeAsync<string>("window.chipApp.jsonFormat", config), "json");
        }
    }

    protected async Task OnSaveClick()
    {
        config = await monacoEditor.InvokeAsync<string>("getValue");
        await Http.PutAsJsonAsync($"api/config/{Id}", config);
    }

    protected async Task OnRemoveClick()
    {
        await Http.DeleteAsync($"api/config/{Id}");
        NavigationManager.NavigateTo("/config");
    }
}