﻿@page "/config"
@using ChipBot.Web.Client.Shared.Popup
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Owner")]
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Configs</h3>

@if (configKeys == null)
{
    <Loader />
}
else
{
    <ul class="list-group">
        @foreach (var cfg in configKeys)
        {
            <li class="list-group-item"><a href="config/@cfg">@cfg</a></li>
        }
    </ul>

    <TextInputModal InputLabel="Config name" Title="New config" @ref="ConfigModal" SubmitText="Create" InputValidator=@Validate OnSubmit=@OnCreateClick />
    <Button Color="Color.Primary" Margin="Margin.Is3.FromTop" @onclick="() => ConfigModal.Modal.Show()"><Icon Name="@faIcon.Plus" /> Add New</Button>
}

@code {
    private IEnumerable<string> configKeys;

    private TextInputModal ConfigModal { get; set; }

    protected override async Task OnInitializedAsync()
    {
        configKeys = await Http.GetFromJsonAsync<IEnumerable<string>>("api/config");
    }

    private async Task OnCreateClick(TextInputSubmitEventArgs args)
    {
        if (!TryValidate((string)args.Value, out var error))
        {
            args.Status = ValidationStatus.Error;
            args.ErrorText = error;
            return;
        }

        var response = await Http.PostAsJsonAsync($"api/config/{args.Value}", "{}");
        if (!response.IsSuccessStatusCode)
        {
            args.Status = ValidationStatus.Error;
            args.ErrorText = response.ReasonPhrase;
            return;
        }

        NavigationManager.NavigateTo($"/config/{args.Value}");
    }

    private void Validate(ValidatorEventArgs args)
    {
        if (TryValidate((string)args.Value, out var error))
        {
            args.Status = ValidationStatus.Success;
        }
        else if (string.IsNullOrWhiteSpace(error))
        {
            args.Status = ValidationStatus.None;
        }
        else
        {
            args.Status = ValidationStatus.Error;
        }
        args.ErrorText = error;

    }

    private bool TryValidate(string value, out string error)
    {
        error = null;
        if (string.IsNullOrWhiteSpace(value))
        {
            return false;
        }
        else if (configKeys.Contains(value))
        {
            error = "Config with this name already exists.";
            return false;
        }
        return true;
    }
}
