﻿@page "/ionoteka"
@using ChipBot.Web.Shared.Api
@using ChipBot.Web.Client.Shared.Ionoteka
@inject HttpClient Http

<h3>Ionoteka</h3>

@if (queue == null)
{
    <Loader />
}
else
{
    <div class="flex">
        @if (queue.CurrentTrack == null && (queue.Queue == null || !queue.Queue.Any()))
        {
            <div>Queue is empty</div>
        }
        else
        {
            <div class="mt-3">
                <strong class="text-secondary">Now Playing</strong>
                <div class="track-holder">
                    <TrackCard Track="queue.CurrentTrack" Index="0" NowPlaing="true" />
                </div>
            </div>

            <div class="mt-3">
                <strong class="text-secondary">Next Up</strong>
                <div class="track-holder">
                    @for (var i = 0; i < queue.Queue.Length; i++)
                    {
                        <TrackCard Track="queue.CurrentTrack" Index="i+1" />
                    }
                </div>
            </div>
        }
    </div>
}

@code {
    private IonotekaQueue queue;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync("api/ionoteka/queue");
        if (response.IsSuccessStatusCode)
        {
            if (response.StatusCode == System.Net.HttpStatusCode.NoContent)
            {
                queue = new IonotekaQueue();
            }
            else
            {
                queue = await response.Content.ReadFromJsonAsync<IonotekaQueue>(new System.Text.Json.JsonSerializerOptions() { PropertyNameCaseInsensitive = true });
            }
        }
    }
}
