﻿@page "/points"
@using ChipBot.Web.Shared.Api
@inject HttpClient Http

<h3>Points</h3>

@if (currency == null || wallet == null)
{
    <Loader />
}
else
{
    <div style="flex">
        <div>
            <span>Your balance: </span>
            <span><strong>@wallet.Balance</strong>@currency</span>
        </div>
        @if (wallet.Transactions != null)
        {
            <div>
                <span>Last transactions:</span>
                <div>
                    <Table>
                        <TableHeader>
                            <TableRow>
                                <TableHeaderCell>Date</TableHeaderCell>
                                <TableHeaderCell>Amount</TableHeaderCell>
                                <TableHeaderCell>Reason</TableHeaderCell>
                            </TableRow>
                        </TableHeader>
                        <TableBody>
                            @foreach (var t in wallet.Transactions.Take(10))
                            {
                                <TableRow>
                                    <TableRowHeader>@t.DateTime</TableRowHeader>
                                    <TableRowCell>@t.Points</TableRowCell>
                                    <TableRowCell>@t.Reason</TableRowCell>
                                </TableRow>
                            }
                        </TableBody>
                    </Table>
                </div>
            </div>
            <div>
                <LineChart @ref="transactionHistoryChart" TItem="long" />
            </div>
        }
    </div>
}

@code {
    private string currency;
    private PointsWallet wallet;
    private LineChart<long> transactionHistoryChart;

    bool canRenderChart = false;

    protected override async Task OnInitializedAsync()
    {
        currency = await Http.GetStringAsync("api/points/currency");
        wallet = await Http.GetFromJsonAsync<PointsWallet>("api/points/wallet");

        canRenderChart = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (canRenderChart)
        {
            await HandleRedraw();
        }
    }

    private async Task HandleRedraw()
    {
        await transactionHistoryChart.Clear();
        await transactionHistoryChart.AddLabelsDatasetsAndUpdate(wallet.Transactions.Reverse<PointsTransaction>().Select(t => t.DateTime.ToString()).ToList(), GetLineChartDataset());
    }

    private LineChartDataset<long> GetLineChartDataset()
    {
        return new LineChartDataset<long>
            {
                Label = "Balance History",
                Data = GetData(),
                BackgroundColor = ChartColor.FromRgba(0, 0, 200, 0.2f),
                BorderColor = ChartColor.FromRgba(0, 0, 200, 1f),
                Fill = true
            };
    }

    private List<string> backgroundColors = new List<string> { ChartColor.FromRgba(255, 99, 132, 0.2f), ChartColor.FromRgba(54, 162, 235, 0.2f), ChartColor.FromRgba(255, 206, 86, 0.2f), ChartColor.FromRgba(75, 192, 192, 0.2f), ChartColor.FromRgba(153, 102, 255, 0.2f), ChartColor.FromRgba(255, 159, 64, 0.2f) };
    private List<string> borderColors = new List<string> { ChartColor.FromRgba(255, 99, 132, 1f), ChartColor.FromRgba(54, 162, 235, 1f), ChartColor.FromRgba(255, 206, 86, 1f), ChartColor.FromRgba(75, 192, 192, 1f), ChartColor.FromRgba(153, 102, 255, 1f), ChartColor.FromRgba(255, 159, 64, 1f) };

    private List<long> GetData()
    {
        var result = new List<long>() { wallet.Balance };
        for (var i = 0; i < wallet.Transactions.Count - 1; i++)
        {
            result.Add(result[i] - wallet.Transactions[i].Points);
        }
        result.Reverse();
        return result;
    }
}
