.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.sub {
            height: 2rem;
            margin: 2px 0 0 20px;
        }

            .nav-item ::deep a.sub i {
                width: 1.5rem;
            }

        .nav-item ::deep a i {
            width: 2rem;
            font-size: 1.1rem;
            vertical-align: text-top;
            top: -2px;
        }

        .nav-item ::deep a.active {
            background-color: rgba(252, 163, 38, 0.2);
            color: white;
        }

        .nav-item ::deep a:hover {
            background-color: rgba(252, 163, 38, 0.4);
            color: white;
        }
