﻿@typeparam TItem
@using System.Diagnostics.CodeAnalysis

<ul class="nav flex-column">
    @if (Template is not null)
    {
        foreach (var item in Items)
        {
            <li class="nav-item px-3">
                @Template(item)
            </li>
        }
        if (AdminItems != null && AdminItems.Any())
        {
            <AuthorizeView Roles="Owner">
                @foreach (var item in AdminItems)
                {
                    <li class="nav-item px-3">
                        @Template(item)
                    </li>
                }
            </AuthorizeView>
        }
    }
</ul>

@code {
    [Parameter]
    public RenderFragment<TItem> Template { get; set; }

    [Parameter, AllowNull]
    public IEnumerable<TItem> Items { get; set; }

    [Parameter, AllowNull]
    public IEnumerable<TItem> AdminItems { get; set; }
}