﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <Figure Size="FigureSize.Is32x32" class="mb-0">
            <FigureImage Source="/icon-512.png" AlternateText="@appState.Name" Rounded="true" />
        </Figure>
        <span>@appState.Name</span>
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <MenuList Items="menuItems.Where(i => !i.AdminOnly)" AdminItems="menuItems.Where(i => i.AdminOnly)" Context="item">
        <Template>
            <NavLink class="nav-link" href="@item.Link" Match="item.Match">
                @* @onclick="() => item.Open = !item.Open">*@
                <Icon Class="nav-icon" Name="item.Icon" /> @item.Text
            </NavLink>
            @if (item.Open)
            {
                if (item.SubItems != null && item.SubItems.Any())
                {
                    foreach (var sub in item.SubItems)
                    {
                        <NavLink class="nav-link sub" href="@sub.Link">
                            <Icon Class="nav-icon" Name="sub.Icon" /> @sub.Text
                        </NavLink>
                    }
                }
            }
        </Template>
    </MenuList>
</div>

@code {
    [CascadingParameter]
    protected ChipBot.Web.Shared.Core.AppState appState { get; set; }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private List<TopMenuItem> menuItems = new()
        {
            new("Home", "", faIcon.Home),
            new("RPG", "rpg", faIcon.Dragon)
            {
                SubItems = new()
                {
                    new("Hero", "rpg/hero", faIcon.HatWizard),
                    new("Leaderboard", "rpg/leaderboard", faIcon.Trophy),
                    new("Dungeon", "rpg/dungeon", faIcon.Dungeon)
                }
            },
            new("Ionoteka", "ionoteka", faIcon.Music),
            new("Points", "points", faIcon.Coins),

            new("Config", "config", faIcon.Cog, true),
            new("System Info", "systeminfo", faIcon.WaveSquare, true),
            new("Test", "test", faIcon.BookDead, true)
        };

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private class MenuItem
    {
        public string Text { get; set; }
        public string Link { get; set; }
        public string Icon { get; set; }

        public MenuItem(string text, string link, string icon)
        {
            Text = text;
            Link = link;
            Icon = icon;
        }
    }

    private class TopMenuItem : MenuItem
    {
        public bool AdminOnly { get; set; }
        public bool Open { get; set; } = true;

        public NavLinkMatch Match => string.IsNullOrEmpty(Link) ? NavLinkMatch.All : NavLinkMatch.Prefix;

        public List<MenuItem> SubItems { get; set; }

        public TopMenuItem(string text, string link, string icon, bool adminOnly = false) : base(text, link, icon)
        {
            AdminOnly = adminOnly;
        }
    }
}
