﻿<div class="m-3">
    <div class="card mb-0">
        <div class="card-body">
            <strong class="card-title">@Quest.Name</strong>
            @if (Quest.Description != null)
            {
                <div><span>@Quest.Description.Invoke(Quest, Hero)</span></div>    
            }
            @if (Quest.ProgressDescription != null)
            {
                <div><span>@Quest.ProgressDescription.Invoke(Quest, Hero)</span></div>    
            }
            @if (Quest.RewardDescription != null)
            {
                <div><span>@Quest.RewardDescription.Invoke(Quest, Hero)</span></div>    
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Quest Quest { get; set; }

    [Parameter]
    public Hero Hero { get; set; }
}
