﻿<Modal @ref="Modal" Closing="@OnClosingInternal">
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>@Title</ModalTitle>
            <CloseButton/>
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>@InputLabel</FieldLabel>
                <Validation Validator=@InputValidatorInternal>
                    <TextEdit @bind-Text=inputValue>
                        <Feedback>
                            <ValidationError>Error</ValidationError>
                        </Feedback>
                    </TextEdit>
                </Validation>
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button @onclick="() => Modal.Close(CloseReason.UserClosing)" Color="Color.Secondary">@CloseText</Button>
            <Button Color="Color.Primary" Disabled=@isSubmitDisabled @onclick=OnSubmitInternal>@SubmitText</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    public Modal Modal { get; protected set; }

    [Parameter]
    public string Title { get; set; } = "Title";
    [Parameter]
    public string CloseText { get; set; } = "Close";
    [Parameter]
    public string SubmitText { get; set; } = "Submit";
    [Parameter]
    public string InputLabel { get; set; } = "Input";
    [Parameter]
    public Action<ValidatorEventArgs> InputValidator { get; set; }
    [Parameter]
    public Func<ModalClosingEventArgs, Task> OnClose { get; set; }
    [Parameter]
    public Func<TextInputSubmitEventArgs, Task> OnSubmit { get; set; }

    private string inputValue;
    private bool isSubmitDisabled;

    private async Task OnClosingInternal(ModalClosingEventArgs args)
    {
        if (OnClose != null)
        {
            await OnClose.Invoke(args);    
        }
    }

    private async Task OnSubmitInternal()
    {
        if (OnSubmit != null)
        {
            await OnSubmit.Invoke(new TextInputSubmitEventArgs(inputValue));
        }
    }

    private void InputValidatorInternal(ValidatorEventArgs args)
    {
        InputValidator?.Invoke(args);
        isSubmitDisabled = string.IsNullOrWhiteSpace((string)args.Value) || args.Status == ValidationStatus.Error ? true : false;
    }
}
