﻿@if (MeterBar != null)
{
    <div><span>Total: </span><span class="text-primary">@MeterBar.GetDamage()</span></div>
    <div><span>Average: </span><span class="text-primary">@MeterBar.GetAverage().ToString("0.00")</span></div>
    <div><span>Max: </span><span class="text-primary">@MeterBar.GetMaxDamage()</span></div>
    <div><span>Min: </span><span class="text-primary">@MeterBar.GetMinDamage()</span></div>
    <div>
        <textarea class="form-control" aria-label="With textarea">
            @string.Join("\n", Logs)
            </textarea>
    </div>
}

@code {
    [Parameter]
    public Hero Hero { get; set; }

    protected Fight Fight { get; set; }
    protected MeterBar MeterBar { get; set; }
    protected List<string> Logs { get; set; }

    protected override void OnInitialized()
    {
        var dngHero = new DungeonHero(Hero);
        var hitCount = 100;
        var dpsCreature = new DPSCheckCreature(hitCount);
        Logs = new List<string>();
        Fight = new Fight(new List<Creature>() { dngHero }, new List<Creature>() { dpsCreature }, Logs.Add, new Random());
        Fight.DoFight();

        MeterBar = (MeterBar)dpsCreature.Health;
    }
}
