﻿<div class="m-3">
    <div class="card mb-0">
        <div class="d-flex flex-row">
            <div class="card-body">
                <img class="card-img-top" src="@Hero.Avatar" alt="@Hero.Name">
                <strong class="card-title">@Hero.Name</strong>
                <div><span>Level: </span><span class="text-primary">@Hero.Level</span><span class="text-white-50"> (@($"{Hero.Experience}/??") exp)</span></div>
                <div><span>Attribute Points: </span><span class="text-primary">@Hero.AttributePoints</span></div>
                <div>
                    <span class="text-primary"><RaceTip Inline="true" Race="Hero.RaceDescription" /></span>
                    <span> </span>
                    <span class="text-primary"><SpecTip Inline="true" Spec="Hero.SpecDescription" /></span>
                </div>
                <div><span>Status: </span><span class="text-primary">@Hero.Status.Status</span></div>
                <StatsCard Stats="Hero.Stats" />
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Hero Hero { get; set; }

    protected override void OnInitialized()
    {
        Hero.FixDescriptions();
    }
}