﻿<div class="m-3">
    <div class="card mb-0">
        <div class="card-body">
            <strong class="card-title">Statistics</strong>
            <div><span>Dungeons cleared: </span><span class="text-primary">@Hero.Statistics.DungeonsCleared</span><span class="text-white-50"> (@Hero.Statistics.DungeonsFailed failed)</span></div>
            <div><span>Total damage dealt: </span><span class="text-primary">@Hero.Statistics.TotalDamageDealt</span></div>
            <div><span>Total healed: </span><span class="text-primary">@Hero.Statistics.TotalHealed</span></div>
            <div><span>Total damage taken: </span><span class="text-primary">@Hero.Statistics.TotalDamageTaken</span></div>
            <div><span>Total damage mitigated: </span><span class="text-primary">@Hero.Statistics.TotalDamageMitigated</span></div>
            <div><span>Enemies killed: </span><span class="text-primary">@Hero.Statistics.EnemiesKilled</span><span class="text-white-50"> (@Hero.Statistics.BossesKilled bosses)</span></div>
            <div><span>Total time in dungeons: </span><span class="text-primary">@Hero.Statistics.TotalTimeInDungeons.Humanize(maxUnit: Humanizer.Localisation.TimeUnit.Day)</span></div>
            <div><span>Items collected: </span><span class="text-primary">@Hero.Statistics.ItemsCollected</span></div>
            @if (!string.IsNullOrEmpty(Hero.SpecDescription.ClassStatistic))
            {
                <div><span>@Hero.SpecDescription.ClassStatistic: </span><span class="text-primary">@Hero.Statistics.ClassSpecific</span></div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Hero Hero { get; set; }
}