﻿<div class="card m-1">
    <a href="#" class="card-body d-block p-1">
        <div class="d-flex flex-column align-items-end">
            <div>
                <img class="rounded-circle mr-1" src="@Hero.Avatar" />
                <span>
                    <span class="text-white">@Hero.Name</span>
                    <span> - </span>
                    <span class="text-primary"><RaceTip Inline="true" Race="Hero.RaceDescription" /></span>
                    <span> </span>
                    <span class="text-primary"><SpecTip Inline="true" Spec="Hero.SpecDescription" /></span>
                    <span class="text-white">@Hero.Level</span>
                    <span class="text-white-50">level</span>
                </span>
            </div>
            <small><UserSmall UserId="Hero.UserID" /></small>
        </div>
    </a>
</div>

@code {
    [Parameter]
    public Hero Hero { get; set; }

    protected override void OnInitialized()
    {
        Hero.FixDescriptions();
    }
}