﻿<div class="m-3">
    <div class="card mb-0">
        <div class="card-body">
            <strong class="card-title">Stats</strong>
            <div><span>Max Health: </span><span class="text-primary">@Hero.Health.MaxValue</span></div>
            <div><span>Max Shields: </span><span class="text-primary">@Hero.Shield.MaxValue</span></div>
            <div><span>Attack: </span><span class="text-primary">@Hero.Attack.Value.Humanize()</span></div>
            <div><span>Defense: </span><span class="text-primary">@Hero.Defense.Value.Humanize()</span></div>
            <div><span>Accuracy: </span><span class="text-primary">@($"{Hero.Accuracy.Value.Value:P1}")</span></div>
            <div><span>Crit Chance: </span><span class="text-primary">@($"{Hero.CritChance.Value.Value:P1}")</span></div>
            <div><span>Crit Damage: </span><span class="text-primary">@($"{Hero.CritDamage.Value.Value:P1}")</span></div>
            <div><span>Dodge Chance: </span><span class="text-primary">@($"{Hero.DodgeChance.Value.Value:P1}")</span></div>
            <div><span>Block Chance: </span><span class="text-primary">@($"{Hero.BlockChance.Value.Value:P1}")</span></div>
            <div><span>Aggro: </span><span class="text-primary">@($"{Hero.Aggro.Value.Value:0}")</span></div>
            <div><span>Is Melee: </span><span class="text-primary">@Hero.IsMelee</span></div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public DungeonHero Hero { get; set; }
}