﻿:root {
    --rpg-item-common-color: #ffffff;
    --rpg-item-uncommon-color: #0094ff;
    --rpg-item-rare-color: #4800ff;
    --rpg-item-unique-color: #d8b400;
    --rpg-item-legendary-color: #4cff00;
    --rpg-item-charged-color: #ffffff;
    --rpg-item-legacy-color: #ff0000;
}

.item-rarity-common {
    color: var(--rpg-item-common-color);
}

.item-rarity-uncommon {
    color: var(--rpg-item-uncommon-color);
}

.item-rarity-rare {
    color: var(--rpg-item-rare-color);
}

.item-rarity-unique {
    color: var(--rpg-item-unique-color);
}

.item-rarity-legendary {
    color: var(--rpg-item-legendary-color);
}

.item-rarity-charged {
    color: var(--rpg-item-charged-color);
}

.item-rarity-legacy {
    color: var(--rpg-item-legacy-color);
}