﻿<div class="@(Inline ? "d-inline" : "")">
    <span @onmouseover="() => Hidden = false" @onmouseleave="() => Hidden = true">
        @Trigger
    </span>
    @if(!Hidden)
    {
        <div class="tip">
            @Tip
        </div>
    }
</div>

@code {
    [Parameter]
    public RenderFragment Tip { get; set; }

    [Parameter]
    public RenderFragment Trigger { get; set; }

    [Parameter]
    public bool Inline { get; set; } = false;

    protected bool Hidden { get; set; } = true;
}