﻿@using ChipBot.Web.Shared.Auth
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<AuthorizeView>
    <Authorized>
        <a href="#">@currentUser.Username</a>
        <Figure Size="FigureSize.Is32x32" class="mb-0">
            <FigureImage Source="@currentUser.Avatar" AlternateText="@currentUser.Username" Rounded="true" />
        </Figure>
        <a href="auth/logout">Logout</a>
    </Authorized>
    <NotAuthorized>
        <span>Use bot to login</span>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    protected UserInfo currentUser { get; set; }
}