﻿@using ChipBot.Web.Shared.Auth
@using ChipBot.Web.Shared.Core;
@using ChipBot.Web.Client.Shared.Menu
@using System.Security.Claims;
@inherits LayoutComponentBase
@inject HttpClient Http
@inject AuthenticationStateProvider AuthProvider

<div class="page">
    <CascadingValue Value="appState">
        <div class="sidebar">
            <NavMenu />
        </div>

        <CascadingValue Value="currentUser">
            <div class="main">
                <div class="top-row px-4 auth">
                    <LoginDisplay />
                </div>

                <div class="content px-4">
                    @Body
                </div>
            </div>
        </CascadingValue>
    </CascadingValue>
</div>


@code {
    private AppState appState = new() { User = Web.Shared.Api.ApiUser.UnknownUser };
    private UserInfo currentUser = new UserInfo() { UserId = 0 };

    protected override async Task OnInitializedAsync()
    {
        appState = await Http.GetFromJsonAsync<AppState>("core/appstate");

        var authState = await AuthProvider.GetAuthenticationStateAsync();
        if (authState.User.FindFirstValue(ClaimTypes.NameIdentifier) != null)
        {
            currentUser = new UserInfo()
                {
                    UserId = ulong.Parse(authState.User.FindFirstValue(ClaimTypes.NameIdentifier)),
                    Username = authState.User.FindFirstValue(ClaimTypes.Name),
                    Avatar = authState.User.FindFirstValue("avatar")
                };
        }
        else
        {
            currentUser = null;
        }

        // ToDo: there is an issue with UserService; it loads users as soon as it can, but doesn't stop pages from rendering, thus there is a bug where all users will appear as unkown users
        // moving it here can stop pages from rendering until users are loaded
    }
}