﻿@using System.Security.Claims;
@using ChipBot.Web.Shared.Auth
@inject UserCacheService UserService
@inject AuthenticationStateProvider AuthProvider

@if (user != null)
{
    <div>
        <img src="@user.AvatarUrl" />
        <span>
            @if (user.Role == null)
            {
                <span>@user.Nickname</span>
            }
            else
            {
                <span style="color: @user.Role.Color.ToHex();">@user.Nickname</span>
            }
            <span class="text-secondary">#@user.Discriminator</span>
        </span>
    </div>
}
else
{
    <div></div>
}

@code {
    [CascadingParameter]
    protected UserInfo currentUser { get; set; }

    [Parameter]
    public ulong UserId { get; set; }

    private User user;

    protected async override Task OnInitializedAsync()
    {
        Console.WriteLine($"initialized usersmall. {UserId}");
        if (UserId == 0) // try get current
        {
            Console.WriteLine($"initialized usersmall. is 0, getting current");
            UserId = currentUser.UserId;
        }

        Console.WriteLine($"initialized usersmall. getting user");
        user = UserService.GetUser(UserId);
    }
}
