﻿@page "/systeminfo"
@using ChipBot.Web.Shared.SignalR
@using Microsoft.AspNetCore.SignalR.Client
@using ChipBot.Web.Shared.Api
@using Humanizer
@using Microsoft.AspNetCore.Authorization
@using System.Reflection
@using System.Threading
@attribute [Authorize(Roles = "Owner")]
@inject HttpClient Http
@implements IAsyncDisposable

<h3>System Info</h3>

@if (systemInfo == null)
{
    <Loader />
}
else
{
    <Table Hoverable="true" Borderless="true" Narrow="true">
        <TableBody>
            @foreach(var prop in props)
            {
                <TableRow>
                    <TableRowHeader>@prop.Name.Humanize(LetterCasing.Title)</TableRowHeader>
                    <TableRowCell>@prop.GetValue(systemInfo)</TableRowCell>
                </TableRow>
            }
        </TableBody>
    </Table>
}

@code {
    private HubConnection hubConnection;

    private readonly static PropertyInfo[] props = typeof(SystemInfo).GetProperties();
    private SystemInfo systemInfo;

    protected override void OnInitialized()
    {
        RefreshInfo();
        InitializeLogs();
    }

    private async void RefreshInfo()
    {
        while (true)
        {
            if (IsConnected)
            {
                await hubConnection.SendAsync("GetInfo");
            }

            await Task.Delay(TimeSpan.FromSeconds(5));  
        }
    }

    private async void InitializeLogs()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Http.BaseAddress + "sr/system")
            .Build();

        hubConnection.On<LogMessage>("LogReceived", (message) =>
        {
            Console.WriteLine(message);
        });

        hubConnection.On<SystemInfo>("InfoReceived", (info) =>
        {
            systemInfo = info;
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
