﻿@page "/test"
@using ChipBot.Web.Shared.Core
@using RPGPlugin.Core.Classes
@using RPGPlugin.Core.Static.Quests
@using RPGPlugin.Core.Static.Specs
@using RPGPlugin.Core.Static.Races
@using ChipBot.Web.Client.Shared.Ionoteka
@using ChipBot.Web.Client.Shared.Rpg
@using ChipBot.Web.Client.Shared.Rpg.Hero
@using ChipBot.Web.Client.Shared.Rpg.Quests
@using ChipBot.Web.Shared.Api

<div class="d-flex flex-wrap flex-row align-items-start">
    <div>
        <h3>User Small Card</h3>
        <div class="m-3">
            <div class="card mb-0">
                <div class="card-body">
                    <UserSmall />
                </div>
            </div>
        </div>
    </div>

    <div>
        <h3>Tracks</h3>
        @{
            var nowPlaying = new ChipTrackApi() { Url = "#", Duration = TimeSpan.FromSeconds(94), Position = TimeSpan.FromSeconds(45), Author = "Author", Title = "Title", UserId = AppState.User.Id, Image = AppState.Avatar, Source = "src" };
            var notPlaying = new ChipTrackApi() { Url = "#", Duration = TimeSpan.FromSeconds(94), Position = TimeSpan.FromSeconds(45), Author = "Author", Title = "Title", UserId = AppState.User.Id, Image = AppState.Avatar, Source = "src" };
        }
        <div class="m-3">
            <div class="card mb-0">
                <div class="card-body">
                    <TrackCard Track="nowPlaying" Index="0" NowPlaing="true" />
                    <TrackCard Track="notPlaying" Index="1" NowPlaing="false" />
                </div>
            </div>
        </div>
    </div>

    <div>
        <h3>Races & Classes Tips</h3>
        <div class="d-flex flex-wrap flex-row align-items-start">
            <div class="m-3">
                <div class="card mb-0">
                    <div class="card-body">
                        <h5>Races</h5>
                        @foreach (var race in RaceDescriptions.Races)
                        {
                            <RaceTip Race="race.Value" />
                        }
                    </div>
                </div>
            </div>

            <div class="m-3">
                <div class="card mb-0">
                    <div class="card-body">
                        <h5>Classes</h5>
                        @foreach (var spec in SpecsDescriptions.Classes)
                        {
                            <SpecTip Spec="spec.Value" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h3>Races & Classes</h3>
        <div class="m-3">
            <div class="card mb-0">
                <div class="card-body">
                    <h5>Race</h5>
                    <RaceCard Race="RaceDescriptions.Races.Last().Value" />
                </div>
            </div>
        </div>

        <div class="m-3">
            <div class="card mb-0">
                <div class="card-body">
                    <h5>Class</h5>
                    <SpecCard Spec="SpecsDescriptions.Classes.Last().Value" />
                </div>
            </div>
        </div>
    </div>

    <div>
        <h3>Stats</h3>
        <div class="m-3">
            <div class="card mb-0">
                <div class="card-body">
                    @{
                        var stats = new RPGPlugin.Core.Classes.Stats(1, 2, 3, 0, 999, -999);
                    }
                    <StatsCard Stats="stats" />
                </div>
            </div>
        </div>
    </div>

    <div>
        <h3>Hero</h3>
        <div class="m-3">
            <div class="card mb-0">
                <div class="card-body">
                    @{
                        var hero = new Hero()
                        {
                            Name = "Pepe",
                            Avatar = AppState.Avatar,
                            RaceDescription = RaceDescriptions.Races["human"],
                            RaceReference = (Race)Activator.CreateInstance(RaceDescriptions.Races["human"].Race),
                            SpecDescription = SpecsDescriptions.Classes["warrior"],
                            SpecReference = (Spec)Activator.CreateInstance(SpecsDescriptions.Classes["warrior"].Spec),
                            UserID = AppState.User.Id
                        };
                    }
                    <HeroCard Hero="hero" />
                </div>
            </div>
        </div>
    </div>

    <div>
        <h3>Hero Small</h3>
        <div class="m-3">
            <div class="card mb-0">
                <div class="card-body">
                    <HeroCardSmall Hero="hero" />
                </div>
            </div>
        </div>
    </div>

    <div>
        <h3>Hero Stats</h3>
        <div class="m-3">
            <div class="card mb-0">
                <div class="card-body">
                    @{
                        var dungeonHero = new DungeonHero(hero);
                    }
                    <HeroStats Hero="dungeonHero" />
                </div>
            </div>
        </div>
    </div>

    <div>
        <h3>Hero Statistics</h3>
        <div class="m-3">
            <div class="card mb-0">
                <div class="card-body">
                    <HeroStatistics Hero="hero" />
                </div>
            </div>
        </div>
    </div>

    <div>
        <h3>DPS</h3>
        <div class="m-3">
            <div class="card mb-0">
                <div class="card-body">
                    <DpsChecker Hero="hero"/>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h3>Items</h3>
        <div class="m-3">
            <div class="card mb-0">
                <div class="card-body flex-row">
                    <div>
                        <h4>Item Rarities</h4>
                        @{var rarities = Enum.GetValues<ItemRarity>();}
                        @foreach(var rarity in rarities)
                        {
                            var item = new Item() { Rarity = rarity, Stats = stats, SecondaryStats = new ItemStats(), ItemLevel = 10 };
                            <ItemTip Item="item" />
                            <ItemCard Item="item" />
                        }
                    </div>
                    <div>
                        <h4>Item Abilites</h4>
                        @foreach(var ability in Enum.GetValues<AbilityType>())
                        {
                            var item = new Item() { Rarity = ItemRarity.Rare, Stats = stats, SecondaryStats = new ItemStats(), ItemLevel = 10, Ability = ability };
                            <ItemTip Item="item" />
                            <ItemCard Item="item" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h3>Quest</h3>
        <div class="m-3">
            <div class="card mb-0">
                <div class="card-body">
                    @foreach(var quest in QuestData.Quests)
                    {
                        <QuestCard Quest="quest.Value" Hero="hero" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    protected AppState AppState { get; set; }
}
