﻿@using ChipBot.Web.Shared.Api
@using RPGPlugin.Core.Classes

@if (Track != null)
{
    <a href="@Track.Url">
        <div class="track">
            <div class="index">
                @if (Index <= 0)
                {
                    <strong class="mr-1">♪</strong>
                }
                else
                {
                    <strong class="mr-1">@Index</strong>
                }
            </div>
            <div class="cover">
                <img loading="lazy" src="@Track.Image" />
            </div>
            <div class="info">
                <span><strong>@Track.Title</strong></span>
                <span class="author text-secondary"><small>@Track.Author</small></span>
                <div>
                    <small>
                        <span class="text-secondary">Requested by: </span>
                        <UserSmall UserId=@Track.UserId />
                    </small>
                </div>
            </div>
            @if (NowPlaing)
            {
                <span class="text-secondary">@Track.Position.ToTrackTime() / @Track.Duration.ToTrackTime()</span>
            }
            else
            {
                <span class="text-secondary">@Track.Duration.ToTrackTime()</span>
            }
        </div>
    </a>
}

@code {
    [Parameter]
    public ChipTrackApi Track { get; set; }

    [Parameter]
    public int Index { get; set; } = 0;

    [Parameter]
    public bool NowPlaing { get; set; } = false;
}
