﻿a {
    text-decoration: none;
    color: #d3d3d3;
}

.track {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

    .track .index {
        width: 30px;
        text-align: right;
    }

    .track .cover {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .track .cover img {
            height: 50px;
        }

    .track .info {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 0;
        line-height: 20px;
    }

        .track .info .author {
            margin-top: -5px;
        }

        .track .info span {
            max-width: 90%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
